<section>
    {{> header}}
    <form class="home__form" action="" method="POST">
        <input id='addlist' class="home__main__input" type="text" value="" aria-label="input" name="list"
            placeholder="Add new list" required>
        <input id='submit' class="home__main__add" type="submit" value="Add List" aria-label="Add List">
    </form>
    <div class="home__results">
        {{#each result}}
        <div class="home__list">
            {{#each this}}
                <h2>{{this.title}}</h2>
                <p>{{this.content}}</p>
                <span>{{this.username}}</span>
            {{/each}}
        </div>
        {{/each}}
    </div>
    {{> footer}}   
</section>