<section>
    {{> header}}
    <form class="home__form" action="" method="POST">
        <input id='addlist' class="home__main__input" type="text" value="" aria-label="input" name="list"
            placeholder="Add new list" required>
        <input id='submit' class="home__main__add" type="submit" value="Add List" aria-label="Add List">
    </form>
    <div class="home__results">
        {{#each lists}}
        <div class="home__list">
            <h1>{{this.name}}</h1>
            <ul class="list__items">
                {{#each items}}
                <li class="item">
                    <div class="item__data">
                        <h2>{{this.name}}</h2>
                        <p>{{this.content}}</p>
                        <span>{{this.user}}</span>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
        {{/each}}
    </div>
    {{> footer}}   
</section>
